html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

:root {
    --main-bg-color: (blue);
    --secondary-bg-color: (red);
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .square {
    position: relative;
    width: 80vmin;
    border: solid red 5px;
    box-sizing: border-box;
    background-color: red;
}
  
  .square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  .square:hover {
    border: dotted 5px green;
    border-radius: 30px;
    animation-name: example;
    animation-duration: 4s;
}
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  

#outside {
    position: absolute;
    background-color:var(--main-bg-color);
    width: 200px;
    height: 200px;
    border: dotted 10px rgba(0, 179, 255, 0.491);
    border-radius: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // translate(`X axis value`, `Y axis value`);   
}
  
#inside {
    position: relative;
    background-color: coral;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // translate(`X axis value`, `Y axis value`);   
  }

  #inside:hover {
    background-color: red;
    border-radius: 50px;
  }

  #outside:hover {
    background-color: black;
  }



.icono {
    position: absolute;
    font-size: 4rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); // translate(`X axis value`, `Y axis value`);   
}

.grid-container {
    display: grid;
    gap: 10px;
    grid-template-areas: 
    'header header header header header header'
    'menu main main main main main'
    'menu footer footer footer footer footer';
    height: 50%;
    width: 50%;
    top: 150%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%); // translate(`X axis value`, `Y axis value`);
    border: dashed 5px violet;
    padding: 10px;
    border-radius: 15px;
    text-align: center;  
}

.item1 {
    grid-area: header;
    background-color: pink;
}

.item2 {
    grid-area: menu;
    background-color: red;
}

.item3 {
    grid-area: main;
    background-color: orange;
}

.item4 {
    grid-area: footer;
    background-color: lightblue;
}

.flex {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;    
}

.flex2 {
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;   
}

.flex-container {
    background-color: pink;
    width: 100px;
    aspect-ratio: 1;
}

.el1, .el2 {
    width: 50px;
    aspect-ratio: 2;
    background-color: red;
}

.card {
    height: 500px;
    weight: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;  
}

.img {
    width: 30px;
    aspect-ratio: 1;
    background-color: blueviolet;
    border-radius: 10px;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
}




